<% if @news.errors.any? %>
<!-- in the event of an issue -->

   <h3>Oops there were some errors. Please try again:</h3>
   <ul>
     <% @news.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 <% end %>


<%=form_for @news do |f|%>
<%= f.label :information %>
    <%= f.text_field :information %>
    <%= f.submit  %>
  <% end %>
